
.home{
    width: 100%;
}

.home .first_section,
.home .second_section,
.home .third_section,
.home .fourth_section{
    width: 100%;
}

.home .container{
    padding: 50px 0;
    /* border: 1px solid black; */
}

.home .first_section{
    /* background-image: url(../assets/images/home/O9FG4R0\ 1.png); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 150px;
    /* background-color: black; */
}

.home .first_section .content{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
}

.home .first_section .left,
.home .first_section .right{
    width: 100%;
}

.home .first_section .left img{
    width: 100%;
}

.home .first_section .right h1,
.home .first_section .right h2{
    text-align: center;
}


.home .first_section .right h1,
.home .first_section .right h2,
.home .second_section .content .header h1,
.home .second_section .content .header h4{
    margin-bottom: 15px;
}

.home .first_section .right h1{
    font-family: 'roboto_bold';
}

.home .first_section .right h3{
    font-family: 'roboto_regular';
    color: rgb(32, 32, 32);
}

.home .first_section .right img{
    width: 100%;
}

/* SECOND SECTION */
.home .second_section {
    position: relative;
    /* border: 1px solid black; */
}

.home .second_section .bg_img_container{
    position: absolute;
    left:0;
    /* border: 1px solid black; */
    /* width: 90%; */
    display: none;
    height: 100%;
}

.home .second_section .bg_img_container img{
    width: 100%;
    height: 100%;
}

.home .second_section .content .header{
    /* border: 1px solid black; */
    position: relative;
    width: 90%;
    padding: 30px 0 0;
    /* text-align: center; */
}

.home .second_section .content .header h4{
    color: #000;
    font-family: 'roboto_medium'; 
    line-height: 22px;
}

.home .second_section .content .body{
    /* border: 1px solid black; */
    /* padding: 30px 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.home .second_section .content .body .frame{
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
    padding: 20px 0;
    margin: 25px 0;
}

.home .second_section .content .body .frame .first_sections{
    width: 100%;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px -1px 4px .2px rgba(65, 65, 65, 0.1);
}

.home .second_section .content .body .frame .first_sections .img_container,
.home .second_section .content .body .frame .first_sections .text_container{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    /* border: 1px solid black; */
}

.home .second_section .content .body .frame .first_sections .img_container img{
    width: 50px;
}

.home .second_section .content .body .frame .first_sections .text_container h4{
    font-family: 'roboto_medium';
    color: #000;
}

.home .second_section .content .body .frame .second_sections{
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
    height: 130px;
}

.home .second_section .content .body .frame .second_sections .img_container{
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.home .second_section .content .body .frame .second_sections .img_container img{
    width: 100%;
    height: 100%;
}

.home .second_section .content .body .frame .second_sections .text_container{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .second_section .content .body .frame .second_sections .text_container h4{
    font-family: 'roboto_medium';
    color: #fff;
    line-height: 22px;
}

/* THIRD SECTION */
.home .third_section{
    position: relative;
    padding: 0;
}

.home .third_section .content{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.home .third_section .content .first_sections,
.home .third_section .content .second_sections,
.home .third_section .content .third_sections{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.home .third_section .content .fourth_sections{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.home .third_section .content .img_container{
    display: none;
}

.home .third_section .content .first_sections .text_container{
    margin-left: 0;
    margin: 0 auto;
    /* border: 1px solid black; */
}


.home .third_section .content .second_sections .img_container{
    /* border: 1px solid black; */
    width: 40%;
    padding-top: 5px;
    padding-bottom: 7px;
}

.home .third_section .content .third_sections .img_container{
    /* border: 1px solid black; */
    width: max-content;
    padding: 20px 0;
    padding-right: 45px;
}

.home .third_section .content .fourth_sections .img_container{
    /* border: 1px solid black; */
    width: 15%;
    padding: 20px 0 ;
    text-align: right;
}

.home .third_section .content .img_box{
    position: relative;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding-top: 40px; */
}

.home .third_section .content .img_box .img_content{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.home .third_section .content .img_box .img_content .img_1,
.home .third_section .content .img_box .img_content .img_2,
.home .third_section .content .img_box .img_content .img_3{
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.home .third_section .content .img_box .img_content img{
    width: 100%;
}

.home .third_section .content .img_box .img_content .img_1{
    top: 0;
    left: 0;
}

.home .third_section .content .img_box .img_content .img_2{
    bottom: 0;
    right: 0;
}

.home .fourth_section {
    padding: 50px 0;
}

.home .fourth_section .content .header,
.home .fourth_section .content .body{
    width: 100%;
}

.home .fourth_section .content .header{
    margin-bottom: 30px;
}

.home .fourth_section .content .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.home .fourth_section .content .body .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
}

.home .fourth_section .content .body .left video{
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}

.home .fourth_section .content .body .right{
    /* border: 1px solid black; */
    width: 100%;
    padding: 20px 0;
}

.home .fourth_section .content .body .right video{
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}

#topvid{
    margin-bottom: 20px;
}

@media only screen and (min-width:768px){
    .home .first_section .content{
        flex-direction: row;
    }   

    .home .first_section .left{
        width: 60%;
    }
    
    .home .first_section .right{
        width: 38%;
    }

    .home .first_section .right h1,
    .home .first_section .right h2{
        text-align: left;
    }
    
    .home .second_section .bg_img_container{
        width: 730px;
        display: block;
    }

    .home .second_section .content .header{
        width: 50%;
    }

    .home .second_section .content .body{
        flex-direction: row;
    }

    .home .second_section .content .body .frame{
        width: 30%;
        margin: 0;
        padding: 60px 0;
    }

    .home .second_section .content .body .frame_three{
        padding-top: 0;
    }

    .home .third_section{
        padding: 50px 0;
    }

    .home .fourth_section .content .body{
        flex-direction: row;
    }

    .home .fourth_section .content .body .left{
        width: 38%;
    }

    .home .fourth_section .content .body .right{
        width: 60%;
    }

    .home .fourth_section .content .body .right video{
        height: 100%;
    }

    .home .fourth_section .content .body .left{
        padding: 20px 0;
    }
}

@media only screen and (min-width:1024px){
    .home .second_section .bg_img_container{
        width: 850px;
    }
       
}


@media only screen and (min-width:1100px){
    .home .second_section .bg_img_container{
        width: 1200px;
    }

    .home .second_section .content .header{
        width: 27%;
    }

    .home .third_section .content .img_container{
        display: block;
    }

    .home .third_section .content .first_sections .text_container{
        margin: 0;
        margin-left: 30px;
    }

    .home .third_section .content .img_box{
        position: absolute;
    }

    .home .third_section .content .img_box .img_content .img_1,
    .home .third_section .content .img_box .img_content .img_2,
    .home .third_section .content .img_box .img_content .img_3{
        position: absolute;
        width: max-content;
        margin: 0;
    }

    .home .third_section{
        padding: 50px 0;
    }

    .home .third_section .content{
        /* border: 1px solid black; */
        position: relative;
        display: block;
    }

    .home .third_section .content .img_box .img_content img{
        width: inherit;
    }

    .home .third_section .content .img_box{
        width: 80%;
    }
       
    .home .third_section .content .img_box .img_content .img_3{
        bottom: 135px;
        left: 0;
        width: 220px;
    }
    
    .home .third_section .content .img_box .img_content .img_3 img{
        width: 100%;
    }
    .home .third_section .content .img_box .img_content{
        margin-top: 100px;
    }
    
}

@media only screen and (min-width:1400px){
    .home .second_section .bg_img_container{
        width: 1340px;
    }
       
}